.creat-team {
    margin-top:50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.cont-team {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    /*padding: 20px;*/
    position: relative;
    border: 2px solid #5ba5af;
}
/*
.main-container {
    padding: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}*/

.creat-team .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 600px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
}

.creat-team .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.card-1 {
    background: radial-gradient(#f6f6f6, #edfafa);
    width:100%;
}
@media (max-width: 1600px) {
    .creat-team {
        justify-content: center;
    }
}

.card__exit {
    grid-row: 1/2;
    justify-self: end;
    margin-left:98%;
    color: #1aa1a1;

}

.creat-team .card .header{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    /* color: #ffffff; */
    color: #1aa1a1;

}
.creat-team  .card-1 .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #1aa1a1;
    margin-top:15px;
    height:90px;
}
.creat-team  .card-1 .card-header #date_cree {
    padding: 0px;
    margin: 0;
    font-size: 10px;
    margin-left: 2px;
    color: #0b5fa3;
}
.creat-team  .card-1 .card-header #date_modifie{
    padding: 0px;
    margin: 0;
    font-size: 10px;
    margin-left: 2px;
    color: #d1150f;
}

.info-sup{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6);

}
.info-sup p{
    margin-top:20px;
    text-align: center;
}
.creat-team  .card-1 .card-body{
    margin-top:-160px;
}



.creat-team  .card-1 .card-footer {
    margin-bottom :80px;
    display: flex;
    justify-content: space-between;
//padding: 4px 20px 0px 20px;
//background-color: #b8d8f2;

}
.creat-team  .card-1 .card__apply{
    margin-left:40%;
}